.main-content {
    flex: 1;
    position: relative;
    left: 280px;
    margin-right: 280px;
    top:0;
 }
  
  .course-details {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 28em;
    font-size: 0.5em;
  }
  
  .instructor, .related-to-course {
    width: 48%;
  }
  